@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$cyan-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($dark-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  background: #020617;
  color: #f8fafc;
}

a {
  color: mat.get-theme-color($dark-theme, primary, 200);
}

mat-card {
  border-radius: 18px !important;
}
